
<p [ngClass]="'Screen'">{{value}}</p>
<br>
<div>

    <button (click)="funbtn('7')">7</button> &nbsp; <button (click)="funbtn('8')">8</button> &nbsp; <button (click)="funbtn('9')">9</button> &nbsp; <button (click)="funbtn('*')">*</button> <br>
    <button (click)="funbtn('4')">4</button> &nbsp; <button (click)="funbtn('5')">5</button> &nbsp; <button (click)="funbtn('6')">6</button> &nbsp; <button (click)="funbtn('/')">/</button> <br>
    <button (click)="funbtn('1')">1</button> &nbsp; <button (click)="funbtn('2')">2</button> &nbsp; <button (click)="funbtn('3')">3</button> &nbsp; <button (click)="funbtn('-')">-</button> <br>
    <button (click)="funbtn('=')">=</button> &nbsp; <button (click)="funbtn('0')">0</button> &nbsp; <button (click)="funbtn('+')">+</button> <br>
</div>

